body {
  background-color: white !important;
}
.header-container {
  padding-bottom: 1rem;
}

.site-table-container {
  overflow-x: auto;
  margin-bottom: 15px;
}
.calendar-control,
.cal-control-text,
.filter-available,
.filter-available > p {
  display: inline-block;
}

.filter-available {
  margin-left: 1rem;
}

.filter-available > p {
  margin-left: .5rem;
}
