body {
  background-color: black !important;
}
.header-container {
  padding-bottom: 1rem;
}
.header {
  background-image: url(/rmnp-background.jpg);
  min-height: 300px;
  background-size: cover;
  margin-top: 1rem;
}
.site-table-container {
  overflow-x: auto;
}
.controls {
  background-color: rgba(0, 0, 0, 0.43);
  position: absolute;
  top: 173px;
  margin-left: 1rem;
  color: white;
  width: 66rem;
}
.calendar-control,
.filter-input,
.cal-control-text,
.filter-available,
.filter-available > p {
  display: inline-block;
}

.filter-input > .form-group {
  margin-bottom: -2px;
}

.filter-available {
  margin-left: 1rem;
}

.filter-available > p {
  margin-left: .5rem;
}
