body {
    background-color: black !important;
}
table.site-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    background-color: white;
}
.header-container {
    padding-bottom: 1rem;
}
.header {
    background-image: url(/rmnp-background.jpg);
    min-height: 300px;
    background-size: cover;
    margin-top: 1rem;
}
.controls {
    background-color: rgba(0, 0, 0, 0.43);
    position: absolute;
    top: 204px;
    margin-left: 1rem;
    color: white;
    width: 78rem;
}
.site-col {
    width: 24rem;
    text-align: left;
}

.status-col {
    width: 6rem;
    text-align: center;
}

.site-table th,
td {
    border: 1px solid #ddd;
    padding: 0 5px 0 5px;
}

.site-table tr:nth-child(even) {
    background-color: #f2f2f2
}

.site-table th {
    background-color: #4CAF50;
    color: white;
}

.filter-input {
    margin: 1rem;
    width: 50%;
}

.site-table-container {
    overflow-x: auto;
}

.calendar-control,
.filter-input,
.cal-control-text {
    display: inline-block;
}

.calendar-control {
    margin-left: 3rem;
}

.cal-control-text {
    margin: 0 2rem 0 2rem;
    font-size: large;
}

.cal-back-arrow {
    background: url('kuba_arrow_back.png') no-repeat;
    background-size: contain;
}

.cal-arrows {
    max-width: 3rem;
    height: auto;
}

.cal-arrows:hover {
    box-shadow: 0 5px #666;
}

.cal-arrows:active {
    transform: translateY(4px);
}